*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
}

.progress{
    height: 20px;
    background-color: lightgrey;
}

.bar{
    width: 0%;
    height: 100%;
    background-color: crimson;
    text-align: right;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-right: 10px;
}

/* header end */

.section_1{
    height: 80vh;
    background-color: gray;
}

.big_title{
    font-size: 150px;
    font-weight: 900;
    width: 4000px;
    position: fixed;
    top: 50%;
    left: 0;
}
/* .section_1 end */

.section_2{
    padding: 150px 10%;
}

.section_2 .title,
.section_3 h3{
    font-size: 80px;
    font-weight: 900;
    letter-spacing: -2px;
    text-transform: uppercase;
}

.con_wrap_2{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.con_2{
    width: 30%;
    height: 400px;
    background-color: gray;

}

/* section_2 end */

.section_3{
    height: 500px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* section_3 end */

.section_4{
    padding: 150px 10%;
    display: flex;
    justify-content: space-between;
}

.title_wrap{
    width: 40%;
}


.title_wrap h3{
    font-size: 40px;
    text-transform: uppercase;
}

.title_wrap p{
    font-size: 18px;
}

.bg{
    width: 45%;
    height: 400px;
    background-color: gray;
}
/* .section_4 end */

footer{
    height: 150px;
    border-top: 1px solid #eee;
}
